.root {
    -fx-background-color: #FFB562;
}

.text-field {
    -fx-font-size: 18px;
    -fx-background-color: #F9F2ED;

}

#loginBtn{
    -fx-background-color: #3AB0FF;
    -fx-background-radius: 30;
    -fx-text-fill: #F9F2ED;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}
#loginBtn:hover {
    -fx-background-color: #3091cc;
}

#loginBtn:pressed {
    -fx-background-color: #4fb8ff;
}
