.root {
    -fx-background-color: #FFB562;
}

Button {
    -fx-background-color: #3AB0FF;
    -fx-background-radius: 30;
    -fx-text-fill: #F9F2ED;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

Button:hover {
    -fx-background-color: #3091cc;
    -fx-font-weight: bold;

}

Button:pressed {
    -fx-background-color: #4fb8ff;
    -fx-font-weight: bold;

}

ListView {
    -fx-background-color: #3AB0FF;
    -fx-background-radius: 10px;
    -fx-border-color: #2E8B57;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #F9F2ED;
    -fx-padding: 5px;
}

ListView .list-cell:odd {
    -fx-background-color: #3AB0FF;
    -fx-text-fill: #F9F2ED;
}

ListView .list-cell:even {
    -fx-background-color: #3091cc;
    -fx-text-fill: #F9F2ED;
}

ListView .list-cell:selected {
    -fx-background-color: #F87474;
}

.scroll-bar {
    -fx-background-radius: 10px;
    -fx-background-color: #F9F2ED;
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #f87474;
}

.scroll-bar .track {
    -fx-background-color: #F9F2ED;
}

